/* Generali */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: gainsboro;
}

.container{
  background-color: white;
  margin: 50px 200px;
  border-radius: 10px 10px;
}

/* fine generali*/

/* intestazione */

header{
  background-color: white;
  padding: 20px;
}

.head h1{
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  font-weight: 800;
}

#logo{
  vertical-align: middle;
}

/*fine intestazione*/

/* sezione bottoni */

.button{
  padding: 20px 40px;
  border-bottom: 3px solid gainsboro;
}

#task{
  background-color: #47ADF1;
  padding: 5px 15px;
  border-radius: 5px 5px;
  border: 2px solid #47ADF1;
}

#section{
  background-color: white;
  padding: 5px 15px;
  border-radius: 5px 5px;
  border: 2px solid gainsboro;
}

/* fine sezione bottoni */

/* lista */

.list{
  list-style: none;
  margin: 50px;
}

.add{
  list-style-type: '\25BC';
  margin-bottom: 40px;
}

.item{
  list-style: none;
  margin-bottom: 15px;
  margin-top: 15px;
}

.green, .red {
  display: inline-block;
  border: 1.5px solid green;
  color: green;
  padding: 0px 5px;
  border-radius: 50%;
  margin-left: -20px;
}

.red{
  border: 1.5px solid red;
  color: red;
}

.editorial,.q1, .recru,.mobile{
  border: 1px solid #45ABEA;
  background-color: #45ABEA;
  color: white;
  border-radius: 10px 10px;
  padding: 5px;
  font-size: 0.7rem;
}

.q1{
  border: 1px solid #9C72E4;
  background-color: #9C72E4;

}

.recru{
  border: 1px solid #63BFA8;
  background-color: #63BFA8;
}

.mobile{
  border: 1px solid #F29E33;
  background-color: #F29E33;
}